<!doctype html>
<html lang="en" ng-app="calendarApp">
  <head>
    <meta charset="utf-8">
    <title>Calendar App</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="app.css" />
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="app.module.js"></script>
    <script src="views/dayview.module.js"></script>
    <script src="views/monthview.module.js"></script>
    <script src="views/weekview.module.js"></script>
    <script src="views/yearview.module.js"></script>

  </head>
  <body ng-controller="MainController">
<h1>Calendar App</h1>
<div align="right">
<div class="btn-group" role="group" >
  <button type="button" class="btn btn-default" ng-click="OnEvents()">On events</button>
  <button type="button" class="btn btn-default" ng-click="OffEvents()">Off events</button>
</div>
</div>
   <section class="tab" ng-controller="TabController as tab">
 <ul class="nav nav-tabs">
  <li role="presentation" class="active" ng-class="{active: tab.isSet(1)}"><a href="#" ng-click="tab.setTab(1)">Year</a></li>
  <li role="presentation" ng-class="{active: tab.isSet(2)}"><a href="#" ng-click="tab.setTab(2)">Month</a></li>
  <li role="presentation" ng-class="{active: tab.isSet(3)}"><a href="#" ng-click="tab.setTab(3)">Week</a></li>
  <li role="presentation" ng-class="{active: tab.isSet(4)}"><a href="#" ng-click="tab.setTab(4)">Day</a></li>
</ul>
        <div ng-show="tab.isSet(1)" ng-include="'views/yearview.html'"> 
        </div>
        <div ng-show="tab.isSet(2)" ng-include="'views/monthview.html'">          
        </div>
        <div ng-show="tab.isSet(3)" ng-include="'views/weekview.html'">
        </div>
        <div ng-show="tab.isSet(4)" ng-include="'views/dayview.html'">  
        </div>
</section>
  </body>
</html>
