<div align="center" ng-controller="DayController">
   <div class="flex-calendar">
      <div class="month">
        <button class="reset" ng-click="resetToToday()">reset</button>
        <div class="label">{{selectedDay}} {{selectedMonth}} {{selectedYear}}</div>
        <div class="arrow" ng-click="nextDay()"></div>
      </div>
      <div class="days times">
        <div class="day time" ng-repeat="time in hoursOfDay" ng-click="onClick(time, $event)" ng-class="[{selected: isDefaultDate(time), eventTime: time.event[0]}]" >
          <div class="left">{{ time.hour + ':00' }}</div>
          <div class="right" ng-show="time.event[0]"><b>{{time.event[0].name}}:</b> {{time.event[0].description}}<br>
          <b>Start:</b> {{time.event[0].date | date:'HH:mm'}} <b>Duration:</b> {{time.event[0].duration}}</div>
        </div>
      </div>
        
      </div>
</div>

