<div align="center" ng-controller="WeekController">
   <div class="flex-calendar">
      <div class="month">
        <button class="reset" ng-click="resetToToday()">reset</button>
        <div class="label">{{nameStartWeek}}, {{selectedStartWeek | date: 'dd'}} - {{nameEndWeek}}, {{selectedEndWeek | date: 'dd'}} </div>
        <div class="arrow" ng-click="nextWeek()"></div>
      </div>
      <div class="v-week">
        <div class="day" ng-repeat="day in weekDays() track by $index">{{ day }}</div>
      </div>
      <div class="v-week">
      <div class="day">Time</div>
       <div class="day" ng-repeat="day in daysOfWeek">{{day.day}}</div>
      </div>
      <div class="v-days">
      
          <div class="v-left">
          <div class="day">
            <div ng-repeat="time in daysWithHours[0]">{{ time.hour + ':00' }}</div>
          </div>
          </div>
          <div class="v-right week">
            <!-- <div class="day color" ng-repeat="time in daysWithHours">
            
            <div ng-repeat="dtime in time">{{dtime}}</div>
            
            </div> -->
            <div class="day color">
              <div ng-repeat="time in daysWithHours[0]" ng-click="onClick(time, $event)">
                <div><span>{{time.hour}}</span> <span ng-show="time.event[0]">Event</span></div>
              </div>
            </div>
            <div class="day color">
              <div ng-repeat="time in daysWithHours[1]" ng-click="onClick(time, $event)">
                <div><span>{{time.hour}}</span> <span ng-show="time.event[0]">Event</span></div>
              </div>
            </div>
            <div class="day color">
              <div ng-repeat="time in daysWithHours[2]" ng-click="onClick(time, $event)">
                <div><span>{{time.hour}}</span> <span ng-show="time.event[0]">Event</span></div>
              </div>
            </div>
            <div class="day color">
              <div ng-repeat="time in daysWithHours[3]"  ng-click="onClick(time, $event)">
                <div><span>{{time.hour}}</span> <span ng-show="time.event[0]">Event</span></div>
              </div>
            </div>
            <div class="day color">
              <div ng-repeat="time in daysWithHours[4]" ng-click="onClick(time, $event)">
                <div><span>{{time.hour}}</span> <span ng-show="time.event[0]">Event</span></div>
              </div>
            </div>
            <div class="day color">
              <div ng-repeat="time in daysWithHours[5]" ng-click="onClick(time, $event)">
                <div><span>{{time.hour}}</span> <span ng-show="time.event[0]">Event</span></div>
              </div>
            </div>
            <div class="day color">
              <div ng-repeat="time in daysWithHours[6]" ng-click="onClick(time, $event)">
                <div><span>{{time.hour}}</span> <span ng-show="time.event[0]">Event</span></div>
              </div>
            </div>
<!-- 
            <div class="day color">
              <div ng-show="time.event[0]"></div>
            </div>

            <div class="day color">
              <div ng-show="time.event[0]"></div>
            </div>

            <div class="day color">
              <div ng-show="time.event[0]"></div>
            </div>

            <div class="day color">
              <div ng-show="time.event[0]"></div>
            </div>

            <div class="day color">
              <div ng-show="time.event[0]"></div>
            </div>

            <div class="day color">
              <div ng-show="time.event[0]"></div>
            </div> -->
          
          </div>

        
        
      </div>

</div>