<div align="center" ng-controller="WeekController">
   <div class="flex-calendar">
      <div class="month">
        <button class="reset" ng-click="resetToToday()">reset</button>
        <div class="label">{{nameStartWeek}}, {{selectedStartWeek | date: 'dd'}} - {{nameEndWeek}}, {{selectedEndWeek | date: 'dd'}} </div>
        <div class="arrow" ng-click="nextWeek()"></div>
      </div>
      <div class="v-week">
        <div class="day" ng-repeat="day in weekDays() track by $index">{{ day }}</div>
      </div>
      <div class="v-week">
      <div class="day">Time</div>
       <div class="day" ng-repeat="day in daysOfWeek">{{day.day}}</div>
      </div>
      <div class="v-days">
      
          <div class="v-left">
          <div class="day">
            <div>1</div>
            <div>2</div>
            <div>3</div>
            </div>
          </div>
          <div class="v-right week">
            <div class="day color">1</div>
            <div class="day color">2</div>
            <div class="day color">3</div>
            <div class="day color">4</div>
            <div class="day color">5</div>
            <div class="day color">6</div>
            <div class="day color">7</div>
          </div>
        
        
      </div>
</div>

