<div align="center" class="y-main" ng-controller="CommonYearController">


<div class="flex-calendar" style="width: 50%; margin: auto;">
      <div class="month">
        <button class="reset" ng-click="resetToToday()">reset</button>
        <div class="label">{{selectedYear}}</div>
        <div class="arrow" ng-click="nextYear()"></div>
      </div>
 </div>
 <br><br>

<!-- <div ng-controller=""> -->
  <div ng-controller="MonthController">
   <div ng-include="'views/monthview-foryear.html'" ng-controller="JanController" class="y-month"> 
   </div>
  </div>
  <div ng-controller="MonthController">
     
   <div ng-include="'views/monthview-foryear.html'" ng-controller="FebController" class="y-month"> </div>
   </div>
   <div ng-include="'views/monthview-foryear.html'" class="y-month"> </div>
   </div>
<!-- </div> -->